:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #404040;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: #01051a;
  /* --el-color-primary: green; */
}

.el-form {
  max-width: 750px;
}

.sf-full-width {
  width: 100%
}

/* Readonly background wide */
.sf-readonly-wide {
  background-color: #ffffff08;
  padding: 1px 7px;
  border-radius: 4px;
  border-style: none;
  min-height: 24px;
  line-height: 24px;
  width: 100%;
}


/* Readonly background narrow */
.sf-readonly-narrow {
  background-color: #ffffff08;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  line-height: 24px;
  min-height: 24px;
  width: 200px;
  text-align: right;
}

/* subForm background */
.sf-subform-background {
  background-color: #ffffff08;
  padding: 10px 10px 10px 15px;
  border-radius: 4px;
  border-style: none;
  margin-bottom: 10px;
}

.sf-subform-background:not(:last-child) {
  margin-bottom: 10px;
}

/* radio button, checkbox background*/
.el-radio-group,
.el-checkbox-group {
  background-color: #ffffff08;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-color: #00adff42;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  min-height: -webkit-fill-available;
}

/* Input background and border */
.el-input__wrapper {
  background-color: #ffffff08;
  box-shadow: 0 0 0 1px #00adff42;
  /* height: 24px; */
  border-radius: 4px;
}

.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px #409eff inset;
}

/* Text area background and border */
.el-textarea__inner {
  background-color: #ffffff08;
  box-shadow: 0 0 0 1px #00adff42;
  border-radius: 4px;
}

.el-textarea__inner:hover {
  box-shadow: 0 0 0 1px #409eff inset;
}

/* Radio-group background and border */
.el-radio-group {
  background-color: #ffffff08;
}

/* allow label height to grow as needed */
.el-form-item__label {
  height: unset;
  line-height: 18px;
  align-items: baseline;
  margin-top: 4px;
}

/* align content top, incase label has more than one line*/
.el-form-item__content {
  align-items: baseline;
}

/* for some reason must specify .el-form-item twice */
/*  adding  :not(:last-child) causes major problems */
.el-form-item .el-form-item {
  margin-bottom: 20px;
}

/* Table overrides. Make it more dense*/
.el-table__cell {
  padding: 4px;
  border-bottom: unset;
}

.cell {
  padding: unset;
  word-break: unset;
  /* line-height: 23px; */
}

th .cell {
  padding: 10px;
}

/* CodeMirror overrides */
.CodeMirror {
  width: 100%;
  height: auto;
}

.CodeMirror-code {
  line-height: 1.5;
}

/* no boarder on read only mode. couldn't get ot to work */
/* textarea[readonly]>.cm-s-dracula.CodeMirror {
  border-style: none !important;
} */

.cm-s-dracula.CodeMirror {
  background-color: #ffffff08 !important;
  border-radius: 6px;
  border-color: #00adff42;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  min-height: -webkit-fill-available;
}


/* Error success borders: lighter */
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
  border-color: #f56c6c88;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  /* border-color: #67c23a88; */
  border-color: none;
}

/* Placeholder color */
.el-input__inner::placeholder {
  color: var(--el-color-primary-light-3);
}

/* google */
.el-input__inner::-webkit-input-placeholder {
  color: var(--el-color-primary-light-3);
}

/* firefox */
.el-input__inner:-moz-placeholder {
  color: var(--el-color-primary-light-3);
}

/*ie*/
.el-input__inner:-ms-input-placeholder {
  color: var(--el-color-primary-light-3);
}


















a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: .5em;
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}