:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #01051a;  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark {
  background-color: #01051a; 
}
.el-form {
  max-width: 750px;
}
.ar-lightgrey-background {
  background-color: #ffffff08;
  padding: 1px 7px;
  border-radius: 4px;
  border-style: none;
  min-height: 24px;
  line-height: 24px;
}

/* Input background and border */
.el-input__wrapper {
  background-color: #ffffff08;
  box-shadow: 0 0 0 1px #00adff42;
  height: 24px;
  border-radius: 4px;
}
.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px #409eff inset;
}
/* Text area background and border */
.el-textarea__inner {
  background-color: #ffffff08;
  box-shadow: 0 0 0 1px #00adff42;
  border-radius: 4px;
}
.el-textarea__inner:hover {
  box-shadow: 0 0 0 1px #409eff inset;
}
/* allow label height to grow as needed */
.el-form-item__label {
  height: unset;
  line-height: 18px;
  align-items: baseline;
  margin-top: 4px;
}
/* align content top, incase label has more than one line*/
.el-form-item__content {
  align-items: baseline;
}
/* .el-form-item:not(:last-child) {
  margin-bottom: 10px;
} */

/* .el-form-item {
  margin-bottom: 10px;
} */

/* Error success borders: lighter */
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
  border-color: #f56c6c88;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  /* border-color: #67c23a88; */
  border-color: none;
}



















a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: .5em;
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}